.heading {
    height: 800px;
    background-image: url(../../img/Header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headers {
    margin-top: 200px;
}

h1,
p {
    color: white;
}

span {
    color: red;
}